@model OnlineSchool.Models.GUARDIANREVIEW

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GUARDIANREVIEW</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUARDIAN.GuardianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUARDIAN.GuardianName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Review_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
