@model IEnumerable<OnlineSchool.Models.RESULT>

@{
    ViewBag.Title = "Index";
}

<h2>Result Table</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarksObtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN.AdminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLASS.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECTION.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEACHER.TeacherName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExamDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarksObtained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN.AdminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLASS.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECTION.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STUDENT.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEACHER.TeacherName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Result_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Result_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Result_ID })
        </td>
    </tr>
}

</table>
