@model OnlineSchool.Models.PAYMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PAYMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUDENT.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUDENT.StudentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Payment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
