@model OnlineSchool.Models.ATTENDANCE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ATTENDANCE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendance_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN.AdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN.AdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLASS.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASS.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SECTION.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECTION.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STUDENT.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STUDENT.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEACHER.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEACHER.TeacherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Attendance_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
