@model OnlineSchool.Models.ADMIN

@{
    ViewBag.Title = "Edit";
}

@{
    Layout = null;
}

<!Doctype html>
<html lang="en">
<head>
    <title>@Session["AdminName"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/owl.carousel.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/flaticon/font/flaticon.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/style.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/bootstrap4/bootstrap.min.css">
    <link href="@Url.Content("~/Content/osms/")plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/responsive.css">
    <!--skwala-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="index.html">Skwela</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Users</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="/TEACHERs/Create">Add Teacher</a>
                                <a class="dropdown-item" href="/STUDENTs/Create">Add Student</a>
                                <a class="dropdown-item" href="/GUARDIANs/Create">Add Guardian</a>


                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="/CLASSes/Create">Add Class</a>
                                <a class="dropdown-item" href="/SECTIONs/Create">Add Section</a>

                                <a class="dropdown-item" href="/SUBJECTs/Create">Add Subject</a>
                                <a class="dropdown-item" href="/TEACHER_ROUTINE/Create">Add Teacher Routine</a>
                                <a class="dropdown-item" href="/CLASSROUTINEs/Create">Add Class Routine</a>
                                <a class="dropdown-item" href="/EVENTs/Create">Add Event</a>
                                <a class="dropdown-item" href="/ATTENDANCEs/Create">Add Attendance</a>
                                <a class="dropdown-item" href="/RESULTs/Create">Add Result</a>
                            </div>
                        </li>

                    </ul>

                    <ul class="navbar-nav absolute-right">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @Session["AdminName"]</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="/ADMINs/ViewProfile">Your Profile</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="home">
        <!-- Hero Slider -->
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(@Url.Content("~/Content/osms/")images/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span style="color: #ffb200">Education</span> today!</h1>
                        </div>
                    </div>

                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(@Url.Content("~/Content/osms/")images/building.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span style="color: #ffb200">Education</span> today!</h1>
                        </div>
                    </div>
                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(@Url.Content("~/Content/osms/")images/bg-03.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span style="color: #ffb200">Education</span> today!</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>
        </div>
    </div>

    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 box">
                    <h2 class="mb-5" style="color: black; font-weight: bold;"><span style="color: #ffb200; font-weight: bold;">EDIT</span></h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>ADMIN</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Admin_ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AdminName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="display: none;">
                                @Html.LabelFor(model => model.AdminEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminPassword, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AdminPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminContactNumber, "Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AdminContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AdminContactNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminAddress, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AdminAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AdminAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <div style="height: 100px;"></div>

    <footer class="footer">
        <div class="container">

            <!-- Newsletter -->
            <div class="newsletter">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>Subscribe to newsletter</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="newsletter_form_container mx-auto">
                            <form action="post">
                                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                    <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
                                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Content -->
            <div class="footer_content">
                <div class="row">
                    <!-- Footer Column - About -->
                    <div class="col-lg-3 footer_col">
                        <!-- Logo -->
                        <div class="logo_container">
                            <div class="logo">
                                <img src="@Url.Content("~/Content/osms/")images/logo.png" alt="">
                                <span>course</span>
                            </div>
                        </div>
                        <p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>
                    </div>
                    <!-- Footer Column - Menu -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Menu</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_list_item"><a href="#">Home</a></li>
                                <li class="footer_list_item"><a href="#">About Us</a></li>
                                <li class="footer_list_item"><a href="courses.html">Courses</a></li>
                                <li class="footer_list_item"><a href="news.html">News</a></li>
                                <li class="footer_list_item"><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Column - Usefull Links -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Usefull Links</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_list_item"><a href="#">Testimonials</a></li>
                                <li class="footer_list_item"><a href="#">FAQ</a></li>
                                <li class="footer_list_item"><a href="#">Community</a></li>
                                <li class="footer_list_item"><a href="#">Campus Pictures</a></li>
                                <li class="footer_list_item"><a href="#">Tuitions</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Column - Contact -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Contact</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="@Url.Content("~/Content/osms/")images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    Blvd Libertad, 34 m05200 Arévalo
                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="@Url.Content("~/Content/osms/")images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    0034 37483 2445 322
                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="@Url.Content("~/Content/osms/")images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>hello@company.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright -->
            <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                <div class="footer_copyright">
                    <span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
                <div class="footer_social ml-sm-auto">
                    <ul class="menu_social">
                        <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- END header -->
    <!-- END section -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>
    <script src="@Url.Content("~/Content/osms/")js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery-migrate-3.0.0.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/popper.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery.waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery.stellar.min.js"></script>

    <script src="@Url.Content("~/Content/osms/")js/main.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")styles/bootstrap4/popper.js"></script>
    <script src="@Url.Content("~/Content/osms/")styles/bootstrap4/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/TweenMax.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/TimelineMax.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/animation.gsap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/easing/easing.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/custom.js"></script>
</body>
</html>