@{
    Layout = null;
}

<!Doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/owl.carousel.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/flaticon/font/flaticon.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/style.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/bootstrap4/bootstrap.min.css">
    <link href="@Url.Content("~/Content/osms/")plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/owl.carousel.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")fonts/flaticon/font/flaticon.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/osms/")css/style.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/bootstrap4/bootstrap.min.css">
    <link href="@Url.Content("~/Content/osms/")plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/osms/")styles/responsive.css">
    <!--skwala-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
</head>
<body>
    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="index.html">Skwela</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/Index" style="color: black;">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav absolute-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><label style="color: white; font-weight: bold;">@Session["StudentName"]</label></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="/CLASSROUTINEs/DownloadClassRoutineForStudents">Download Routine</a>
                                <a class="dropdown-item" href="/ATTENDANCEs/ViewAttendaceForStudents">View Attendance</a>
                                <a class="dropdown-item" href="/RESULTs/ViewResultForStudents">View Result</a>
                                <a class="dropdown-item" href="/PAYMENTs/Create">Pay Tuition Fee</a>
                                <a class="dropdown-item" href="/STUDENTs/ViewProfile">Your Pofile</a>          
                                <a class="dropdown-item" href="/STUDENTs/LogoutStudent">Log Out</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="home">
        <!-- Hero Slider -->
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(@Url.Content("~/Content/osms/")images/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span style="color: #ffb200">Education</span> today!</h1>
                        </div>
                    </div>

                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(@Url.Content("~/Content/osms/")images/building.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span style="color: #ffb200">Education</span> today!</h1>
                        </div>
                    </div>
                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(@Url.Content("~/Content/osms/")images/bg-03.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your <span style="color: #ffb200">Education</span> today!</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">prev</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>
        </div>
    </div>

    <div class="hero_boxes">
        <div class="hero_boxes_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="@Url.Content("~/Content/osms/")images/earth-globe.svg" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Online Courses</h2>
                                <a href="courses.html" class="hero_box_link">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="@Url.Content("~/Content/osms/")images/books.svg" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Our Library</h2>
                                <a href="courses.html" class="hero_box_link">view more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="@Url.Content("~/Content/osms/")images/professor.svg" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Our Teachers</h2>
                                <a href="teachers.html" class="hero_box_link">view more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 100px;"></div>

    <div class="register">
        <div class="container-fluid">

            <div class="row row-eq-height">
                <div class="col-lg-4 nopadding">

                    <!-- Register -->
                    <div class="register_section d-flex flex-column align-items-center justify-content-center">
                        <div class="register_content text-center">
                            <h1 class="register_title"> <span>Search</span></h1>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 nopadding">

                    <!-- Search -->
                    <div class="search_section d-flex flex-column align-items-center justify-content-center">
                        <div class="search_background" style="background-image:url(@Url.Content("~/Content/osms/")images/search_background.jpg);"></div>
                        <div class="search_content text-center">
                            <h1 class="search_title">Search Result by Subject</h1>
                            <form action="ViewResultBySubject" method="post">
                                <div class="row mb-3">
                                    <div class="col-md-9">
                                        <div class="row">

                                            <div class="col-md-12 mb-3 mb-md-0">
                                                <input type="text" class="mr-3 form-control border-0 px-4" name="SearchbySubject" placeholder="Search Result By Subject">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" class="btn btn-search btn-primary btn-block" value="Search">
                                    </div>

                                </div>

                            </form>
                            <br />
                            <h1 class="search_title">Search Attendance By Date</h1>
                            <form action="ViewAttendanceByDate" method="post">
                                <div class="row mb-3">
                                    <div class="col-md-9">
                                        <div class="row">

                                            <div class="col-md-12 mb-3 mb-md-0">
                                                <input type="text" class="mr-3 form-control border-0 px-4" name="SearchbyDate" placeholder="format=yyyy-mm-dd">
                                                <labl style="color: black;"><label></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" class="btn btn-search btn-primary btn-block" value="Search">
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular -->
    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Popular Courses</h1>
                    </div>
                </div>
            </div>
            <div class="row course_boxes">

                <!-- Popular Course Item -->
                <div class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Content("~/Content/osms/")images/course_1.jpg" alt="https://unsplash.com/kellybrito">
                        <div class="card-body text-center">
                            <div class="card-title"><a href="courses.html">A complete guide to design</a></div>
                            <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img src="@Url.Content("~/Content/osms/")images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                            </div>
                            <div class="course_author_name">Michael Smith, <span>Author</span></div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                        </div>
                    </div>
                </div>
                <!-- Popular Course Item -->
                <div class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Content("~/Content/osms/")images/course_2.jpg" alt="https://unsplash.com/cikstefan">
                        <div class="card-body text-center">
                            <div class="card-title"><a href="courses.html">Beginners guide to HTML</a></div>
                            <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img src="@Url.Content("~/Content/osms/")images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                            </div>
                            <div class="course_author_name">Michael Smith, <span>Author</span></div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                        </div>
                    </div>
                </div>
                <!-- Popular Course Item -->
                <div class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Content("~/Content/osms/")images/course_3.jpg" alt="https://unsplash.com/dsmacinnes">
                        <div class="card-body text-center">
                            <div class="card-title"><a href="courses.html">Advanced Photoshop</a></div>
                            <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img src="@Url.Content("~/Content/osms/")images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                            </div>
                            <div class="course_author_name">Michael Smith, <span>Author</span></div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register -->
  
    <!-- Services -->
    <div class="services page_section">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Our Services</h1>
                    </div>
                </div>
            </div>
            <div class="row services_row">
                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="@Url.Content("~/Content/osms/")images/earth-globe.svg" alt="">
                    </div>
                    <h3>Online Courses</h3>
                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                </div>
                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="@Url.Content("~/Content/osms/")images/exam.svg" alt="">
                    </div>
                    <h3>Indoor Courses</h3>
                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                </div>
                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="@Url.Content("~/Content/osms/")images/books.svg" alt="">
                    </div>
                    <h3>Amazing Library</h3>
                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                </div>
                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="@Url.Content("~/Content/osms/")images/professor.svg" alt="">
                    </div>
                    <h3>Exceptional Professors</h3>
                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                </div>
                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="@Url.Content("~/Content/osms/")images/blackboard.svg" alt="">
                    </div>
                    <h3>Top Programs</h3>
                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                </div>
                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="@Url.Content("~/Content/osms/")images/mortarboard.svg" alt="">
                    </div>
                    <h3>Graduate Diploma</h3>
                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials -->
    <div class="testimonials page_section">
        <!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
        <div class="testimonials_background_container prlx_parent">
            <div class="testimonials_background prlx" style="background-image:url(images/testimonials_background.jpg)"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>What our students say</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="testimonials_slider_container">
                        <!-- Testimonials Slider -->
                        <div class="owl-carousel owl-theme testimonials_slider">

                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_image mx-auto">
                                            <img src="@Url.Content("~/Content/osms/")images/testimonials_user.jpg" alt="">
                                        </div>
                                        <div class="testimonial_name">james cooper</div>
                                        <div class="testimonial_title">Graduate Student</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_image mx-auto">
                                            <img src="@Url.Content("~/Content/osms/")images/testimonials_user.jpg" alt="">
                                        </div>
                                        <div class="testimonial_name">james cooper2</div>
                                        <div class="testimonial_title">Graduate Student</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_image mx-auto">
                                            <img src="@Url.Content("~/Content/osms/")images/testimonials_user.jpg" alt="">
                                        </div>
                                        <div class="testimonial_name">james cooper3</div>
                                        <div class="testimonial_title">Graduate Student</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Events -->
    <div class="events page_section">
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Upcoming Events</h1>
                    </div>
                </div>
            </div>

            <div class="event_items">
                <!-- Event Item -->
                <div class="row event_item">
                    <div class="col">
                        <div class="row d-flex flex-row align-items-end">
                            <div class="col-lg-2 order-lg-1 order-2">
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">07</div>
                                    <div class="event_month">January</div>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-2 order-3">
                                <div class="event_content">
                                    <div class="event_name"><a class="trans_200" href="#">Student Festival</a></div>
                                    <div class="event_location">Grand Central Park</div>
                                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-3 order-1">
                                <div class="event_image">
                                    <img src="@Url.Content("~/Content/osms/")images/event_1.jpg" alt="https://unsplash.com/theunsteady5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event Item -->
                <div class="row event_item">
                    <div class="col">
                        <div class="row d-flex flex-row align-items-end">
                            <div class="col-lg-2 order-lg-1 order-2">
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">07</div>
                                    <div class="event_month">January</div>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-2 order-3">
                                <div class="event_content">
                                    <div class="event_name"><a class="trans_200" href="#">Open day in the Univesrsity campus</a></div>
                                    <div class="event_location">Grand Central Park</div>
                                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-3 order-1">
                                <div class="event_image">
                                    <img src="@Url.Content("~/Content/osms/")images/event_2.jpg" alt="https://unsplash.com/claybanks1989">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event Item -->
                <div class="row event_item">
                    <div class="col">
                        <div class="row d-flex flex-row align-items-end">
                            <div class="col-lg-2 order-lg-1 order-2">
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">07</div>
                                    <div class="event_month">January</div>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-2 order-3">
                                <div class="event_content">
                                    <div class="event_name"><a class="trans_200" href="#">Student Graduation Ceremony</a></div>
                                    <div class="event_location">Grand Central Park</div>
                                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-3 order-1">
                                <div class="event_image">
                                    <img src="@Url.Content("~/Content/osms/")images/event_3.jpg" alt="https://unsplash.com/juanmramosjr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

 

    <footer class="footer">
        <div class="container">

            <!-- Newsletter -->

            <div class="newsletter">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>Subscribe to newsletter</h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <div class="newsletter_form_container mx-auto">
                            <form action="post">
                                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                    <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
                                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Footer Content -->

            <div class="footer_content">
                <div class="row">

                    <!-- Footer Column - About -->
                    <div class="col-lg-3 footer_col">

                        <!-- Logo -->
                        <div class="logo_container">
                            <div class="logo">
                                <img src="@Url.Content("~/Content/osms/")images/logo.png" alt="">
                                <span>course</span>
                            </div>
                        </div>

                        <p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>

                    </div>

                    <!-- Footer Column - Menu -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Menu</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_list_item"><a href="#">Home</a></li>
                                <li class="footer_list_item"><a href="#">About Us</a></li>
                                <li class="footer_list_item"><a href="courses.html">Courses</a></li>
                                <li class="footer_list_item"><a href="news.html">News</a></li>
                                <li class="footer_list_item"><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Column - Usefull Links -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Usefull Links</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_list_item"><a href="#">Testimonials</a></li>
                                <li class="footer_list_item"><a href="#">FAQ</a></li>
                                <li class="footer_list_item"><a href="#">Community</a></li>
                                <li class="footer_list_item"><a href="#">Campus Pictures</a></li>
                                <li class="footer_list_item"><a href="#">Tuitions</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Column - Contact -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Contact</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="@Url.Content("~/Content/osms/")images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    Blvd Libertad, 34 m05200 Arévalo
                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="@Url.Content("~/Content/osms/")images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    0034 37483 2445 322
                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="@Url.Content("~/Content/osms/")images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>hello@company.com
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Copyright -->

            <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                <div class="footer_copyright">
                    <span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
                <div class="footer_social ml-sm-auto">
                    <ul class="menu_social">
                        <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <p>

            @Html.ActionLink("Back to List", "Index")
        </p>

    </footer>
    <!-- END header -->
    <!-- END section -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="@Url.Content("~/Content/osms/")js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery-migrate-3.0.0.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/popper.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery.waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery.stellar.min.js"></script>


    <script src="@Url.Content("~/Content/osms/")js/main.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")styles/bootstrap4/popper.js"></script>
    <script src="@Url.Content("~/Content/osms/")styles/bootstrap4/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/TweenMax.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/TimelineMax.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/animation.gsap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/easing/easing.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/custom.js"></script>

    <script src="@Url.Content("~/Content/osms/")js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery-migrate-3.0.0.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/popper.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery.waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery.stellar.min.js"></script>

    <script src="@Url.Content("~/Content/osms/")js/main.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")styles/bootstrap4/popper.js"></script>
    <script src="@Url.Content("~/Content/osms/")styles/bootstrap4/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/TweenMax.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/TimelineMax.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/animation.gsap.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="@Url.Content("~/Content/osms/")plugins/easing/easing.js"></script>
    <script src="@Url.Content("~/Content/osms/")js/custom.js"></script>
</body>
</html>
